  /*--------------------------------------------------SEARCH BUTTON--------------------------------------------  */
form {
    padding-left:60px;

}

form input[type=text] {
    padding: 10px;
    margin-left: 20px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
  }

  /* Style the submit button */
  form button{
    float: left;
    width: 5%;
    padding: 10px;
    background: #333;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  form button:hover {
    background: rgb(98, 99, 99)
  }

  /* Clear floats */
  form::after {
    content: "";
    clear: both;
    display: table;
  }

  /*-----------------------------------------------------COURSES--------------------------------------------  */


body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    height: 100%;
    background-image: linear-gradient( rgb(24, 6, 43), rgb(35, 58, 88));
    background-repeat: no-repeat;

    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.course {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
    height: 250px;
}

.course:hover {
    transform: scale(1.05);
}

.c1{
    height: 150px;
}

.c2 {
    padding: 10px;
    height: 45px;
}

.c3 {
    height: 55px;
}

.course img {
    width: 100%;
    height: 150px;
    background-size: cover;

}

h2 {
    margin: 0;
    font-size: 1.2em;
}

p {
    margin: 10px 0;
}

.details-link {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
}
