.allElements{
    display: flex;
    width: 100%;
    }

.Title {
    margin:0;
    padding:0;
    width: 20%;
    height: 81px;
    background-color:rgb(24, 6, 43);
}


.EduScope {
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-align: left;
    color: white;
    font-family:Georgia, serif;
    padding-top: 25px ;
}

.navBar{
    width:80%;
    height: 80px;
    padding-right: 20px;
}

div .logo img {
    height: 81px;
    padding: 0;

}

div .logo {
    background-color: rgb(24, 6, 43);
    width: 10%;
    text-align:right;
}

div .navBar ul{
list-style-type: none;
background: rgb(24, 6, 43);
padding:0%;
margin:0%;
text-align: right;
}

div .navBar li{
display: inline-block;
}

div .navBar a{
    text-decoration: none;
    color: rgba(199, 178, 221, 0.932);
    display: block;
    padding: 27px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navBar a:hover{
    background-color:rgba(126, 107, 146, 0.384);
}



#logout {
    margin: 0;
    border-width: 2px;
    padding: 8px;
    border-radius: 10%;
    border-style:solid;
    border-color:#ffffff;
}

.navBar #logout:hover{
    background-color:white;
    color:black;
}

body .allElements {
    box-shadow: 0px 8px 6px -6px #fcfcfc;

}
