
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet"  th:href="@{/css/courses.css}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/js/coursesScript.js}"></script>
</head>


<body>

<div class="searchButton" th:fragment="content">


    <form id="searchForm">
        <label>
            <input id="searchInput" type="text" placeholder="Search course" name="search">
        </label>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="container" id="coursesContainer">
        <!-- Courses will be dynamically added here -->
    </div>

</div>


</body>

</html>
