<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet"  th:href="@{/css/navBar.css}" >
    <link rel="stylesheet"  th:href="@{/css/courseDetails.css}" >
    <script th:src="@{/js/courseDetailsScript.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <!-- Feedback links -->
    <script th:src="@{/js/feedbackScript.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        /* Style for stars */
        .rating i {
            color: orange;
        }
    </style>

</head>


<body>

<div th:replace="navBar :: content"></div> <br>

<div class="details" >

    <div class="courseTitle">
        <p id="title">Course Title</p>
    </div>

    <div class="row">
        <div class="column1">
            <img id="image" src="" alt="Course Picture">

        </div>
        <div class="column2">
            <form>
                <label class="courseDetails">Course Details</label> <br><br>

                <label class="label_description">Description:  </label> <p id="description" class="details_description">Description of the course. </p> <br><br>
                <label class="label_lecturer">Lecturer:  </label> <p id="lecturer" class="details_lecturer">Lecturer of the course.</p> <br><br>
                <label class="label_times">Course Start:  </label> <p id="start-day" class="details_times">Starting Day:</p> <br><br>
                <label class="label_location">Location:  </label> <p id="location" class="details_location">Location of the course.</p> <br><br>
                <label class="label_stNumber">Registered students number:  </label> <p id="current-number" class="details_stNumber">Number of students of the course.</p> <br><br>
                <label class="label_stNumber">Max number of students:  </label> <p id="max-number" class="details_stNumber">Number of students of the course.</p> <br><br>

            </form>

            <div class="button-container">
                <a id="newFeedback" class="enroll-button">Leave a feedback</a>
                <a id="enrollButton" class="enroll-button">Enroll</a>
                <a id="unregButton" class="unregister-button">Unregister</a>
            </div>

        </div>
    </div>
</div>

<!-- ----------------------------------------------FEEDBACK SLIDER HTML ------------------------------------------------>
<div class="container mt-4" th:fragment="content">
    <h2>Feedback Section</h2>
    <!-- Other course details -->
    <form id="feedbackForm">
<!--        <div class="form-group">-->
<!--            <label for="studentName">Your Name</label>-->
<!--            <input type="text" class="form-control" id="studentName" placeholder="Enter your name">-->
<!--        </div>-->
        <div class="form-group">
            <label for="feedbackMessage">Feedback Message</label>
            <textarea class="form-control" id="feedbackMessage" rows="3" placeholder="Enter your feedback"></textarea>
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <select class="form-control" id="rating">
                <option value="5">5 stars</option>
                <option value="4">4 stars</option>
                <option value="3">3 stars</option>
                <option value="2">2 stars</option>
                <option value="1">1 star</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" id="submitFeedback">Submit Feedback</button>
    </form>
    <!-- Feedback Section -->
    <div id="feedbacksContainer" class="mt-4">
        <h4 id="feedbacks_msg">Feedback</h4>


    </div>
</div>
</body>
