<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet"  th:href="@{/css/navBar.css}" >
</head>


<body>
<div class="allElements" th:fragment="content">

    <div class="logo"><img th:src="@{/images/logo.png}" alt="EduScopeLogo"></div>
    <div class="Title"> <p class="EduScope">EduScope</p></div>
    <script defer th:src="@{/js/init.js}"></script>

    <div class="navBar">
        <ul>
            <li><a th:href="@{/courses}">COURSES</a></li>
            <li><a th:href="@{/calendar}">CALENDAR</a></li>
            <li><a th:href="@{/myCourses}">MY COURSES</a></li>
            <li><a href="#" th:href="@{/}" id="logout" class="logout" >LOG OUT</a></li>
        </ul>
    </div>


</div>


<br><br>

</body>

</html>
