<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet"  th:href="@{/css/navBar.css}" >
</head>


<body>
<div class="allElements">

    <div class="logo"><img src="images/logo.png" alt="EduScopeLogo"></div>
    <div class="Title"> <p class="EduScope">EduScope</p></div>

    <div class="navBar">
        <ul>
            <li> <a href="" > COURSES </a></li>
            <li> <a href="" > CONTACT </a></li>
            <li > <a href="" id="logout">  LOG OUT  </a></li>
        </ul>
    </div>

</div>
<br><br>

</body>

</html>