<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet"  th:href="@{/css/navBar.css}" >
    <link rel="stylesheet"  th:href="@{/css/courses.css}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/js/top8Script.js}"></script>
</head>


<body>

<div th:replace="navBar :: content"></div> <br>
<div th:replace="courses :: content"></div>

</body>

</html>